body {
    display: flex;
    justify-content: center;
    background-color: #101011;
    font-family: 'arial', cursive;
}

.input {
    display: flex;
    width: 300px;
    height: 45px;
    justify-content: space-between;
    border: none;
    width: 90%;
    font-size: 18px;
}

.input input {
    width: 200px;
    height: 40px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2b2b2e;
    font-style: oblique
}

.container {
    border: 4px #ddd;
    background-color: #ADD8E6;
    position: absolute;
    padding: 1em 2em;
    width: 310px;
    left: 0;
    right: 0;
    margin: auto;
    top: 50vh;
    transform: translateY(-50%);
    border-radius: 5px;
}

#calcular {
    width: 100%;
    padding: 10px;
    background-color: #1b2845;
    color: white;
    border: none;
    transform: translatey(25%);
    border-radius: 5px;
    cursor: pointer;
}

/* #resultado {
    transform: translateY(50%);
}
*/



#resultado {
    display: flex;
   align-items: center;
    font-size: small;
    margin-top: 20px;
    text-align: center;
    width: 210px;
    height: 60px;
    background-color:#fff;
    margin-left: 24%;
    border-radius: 5px;
    
}